<!-- COMPONENTE RAÍZ: App -->
<!-- Contenedor principal de la aplicación -->

<app-navbar></app-navbar>
<router-outlet></router-outlet>

<!-- Helpy solo aparece en páginas que NO sean home, login o registro -->
@if (mostrarHelpy()) {
  <div class="helpy-container">
    <!-- Bocadillo solo si no hay usuario logueado -->
    @if (mostrarMensaje()) {
      <div class="helpy-bubble">
        <span>No olvides <br>Iniciar Sesión</span>
      </div>
    }

    <img
      src="Helpy/helpy.png"
      alt="Helpy"
      class="helpy-img"
    />
  </div>
}