<header class="faz-navbar">
  <div class="logo-container" (click)="menuAbierto = false; submenuAbierto = false">
<img src="FNaF_Icons/fazbearInc.png" alt="Fazbear Inc." class="logo-img">
    <div class="logo-text">FAZBEAR OS v1.87</div>
  </div>

  <div class="menu-toggle"
       (click)="toggleMenu()"
       role="button"
       tabindex="0"
       (keydown.enter)="toggleMenu()"
       (keydown.space)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <ul class="faz-menu" [class.activo]="menuAbierto">
    <li>

    <li *ngIf="usuario">
      <a routerLink="/animatronicos" (click)="menuAbierto = false">
        Animatrónicos
      </a>
    </li>
    <li *ngIf="usuario">
      <a routerLink="/locales" (click)="menuAbierto = false">
        Locales
      </a>
    </li>
    <li *ngIf="usuario && tieneRol('Técnico')">
      <a routerLink="/mantenimiento" (click)="menuAbierto = false">
        Mantenimiento
      </a>
    </li>
    <li *ngIf="usuario && tieneRol('Administrador')">
      <a routerLink="/admin" (click)="menuAbierto = false">
        Control Central
      </a>
    </li>

    <!-- USER CONSOLE -->
    <li *ngIf="usuario" class="user-menu">
      <a class="user-link" (click)="toggleSubmenu()" role="button" tabindex="0">
        {{ usuario.usuario }} ▸
      </a>

      <ul class="submenu" [class.activo]="submenuAbierto">
        <li>
          <a routerLink="/perfil" (click)="submenuAbierto = false">
            Perfil de Operador
          </a>
        </li>

        <li *ngIf="tieneRol('Administrador')">
          <a routerLink="/admin" (click)="submenuAbierto = false">
            Sistema Maestro
          </a>
        </li>

        <li>
          <a (click)="logout()" class="danger">
            Cerrar Sistema
          </a>
        </li>
      </ul>
    </li>

    <!-- GUEST -->
    <li *ngIf="!usuario">
      <a routerLink="/login" (click)="menuAbierto = false">
        Acceso al Sistema
      </a>
    </li>

    <li *ngIf="!usuario">
      <a routerLink="/registro" class="btn-retro" (click)="menuAbierto = false">
        Nuevo Operador
      </a>
    </li>
  </ul>
</header>
