@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

:root {
  --bg-main: #c0c0c0;
  --bg-window: #ffffff;
  --blue-main: #003399;
  --blue-light: #3366cc;
  --border-dark: #404040;
  --border-light: #ffffff;
  --text-main: #000000;
}

body {
  margin: 0;
  background: var(--bg-main);
  color: var(--text-main);
  font-family: "Tahoma", "Verdana", sans-serif;
  transition: background 0.3s ease;
}


body.bg-web {
  background-image: url('/Wallpapers/WebBackground.jpg');
  background-size: auto; 
  background-position: top left;
  background-attachment: scroll;
}

body.bg-dashboard {
  background-image: url('/Wallpapers/Background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

