<div class="desktop-container">
    <div class="desktop-area">
        <div class="desktop-icons">
            @for (programa of programasFiltrados; track programa.nombre) {
            <div class="desktop-icon" (dblclick)="abrirPrograma(programa)"
                [title]="programa.descripcion" [class.decorativo]="!programa.funcional">
                <div class="icon-image">
                    <img [src]="programa.icono" [alt]="programa.nombre">
                </div>
                <div class="icon-label">{{ programa.nombre }}</div>
            </div>
            }
        </div>
        <div class="helpy-desktop">
            <div class="helpy-bubble-desktop">
                <span>¡Haz doble clic<br>en los iconos!</span>
            </div>
            <img src="/Helpy/helpy.png" alt="Helpy asistente" class="helpy-desktop-img" />
        </div>
    </div>
    <div class="programs-container">
        <router-outlet></router-outlet>
    </div>
    <app-taskbar windowId="home2"></app-taskbar>
</div>
